@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carrosel.css);
@import url(styles/rodapé.css);
@import url(styles/topicos.css);


:root {

    --cor-de-fundo: #EBECEE; 
    --branco:#FFFFFF;
    --laranja:#EB9B00;
    --azul-degrade: #002F52;
    --fonte-principal: "Poppins";
}

body {

    background-color: var(--cor-de-fundo);
    font-size: var(--fonte-principal);
    font-weight: 400;
    font-size: 16px;
    font-family: "Poppins";
}



